[submodule "themes/after-dark"]
	path = themes/after-dark
	url = https://git.habd.as/comfusion/after-dark.git
[submodule "themes/fractal-forest"]
	path = themes/fractal-forest
	url = https://git.habd.as/comfusion/fractal-forest.git
[submodule "content/zettelkasten"]
	path = content/zettelkasten
	url = git@github.com:bryanapperson/zettelkasten.git
